__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
config.yaml
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
input/*
!input/.gitkeep
!input/README.txt
avatars/*
!avatars/README.txt
!avatars/Example_Person/
avatars/Example_Person/*
!avatars/Example_Person/README.txt
